<div class="content">

    <p style="margin-top: 0px; font-size: 14px;"> <i>&lt;secret memo secret memo secret memo secret memo secret memo secret memo secret memo secret memo secret memo secret memo secret memo secret memo&gt;</i></p>
    <!-- hello adventurer.. here for the secret...? well too bad there's none 😈. or is there? email me anushk@circlelabs.xyz for surprise :d -->

    <div id="maincontent">
        <h1>for quotes that i like</h1>
    </div>
        <p style="margin-top: 0px; font-size: 14px;"> <i>by: huynh and frens</i></p>

        <p> hello world. </p>

        <p> i made this so i could easily add quotes that i want to remember</p>

        <p> you should contribute 👉️👈</p>

        <img src="/assets/duck.jpg">

        <p>not sure where this will go but i'll work on it every week</p>

        <ol>
        <b><li>
            <p> still not sure how to seperate out stuff, maybe tabs?</p>
        </li></b>
        </ol>

        <ol start="2">
        <b><li>
        <p> make a pr😊😊 </p>
        </li></b>
        </ol>

        <h3> 🤝 list of newest contributors </h3>
        <ol>
            <li>me</li>
            <li>other people soon hopefully</li>
        </ol>

        <h3> currently built w/ angular, hosted on firebase </h3>


        <h3> waitlist </h3>

        <p> see my other projects <a href="https://github.com/khanghuynh99" target="_blank"> here</a>.</p>

</div>